extends layout

block content
  h1= title

  h2 Login

  form(method='POST' action='' class='forms')
    label(for='username') Username: 
    input(type='text'
      name='username'
      placeholder='Please enter username here'
      minLength='1'
      maxLength='20'
      required='true')

    label(for='password') Password: 
    input(type='password'
      name='password'
      required='true')
    
    button(type='submit' class='options') Submit

  a(href='/sign-up') If you don't have an account, sign up here

  each message in messages_list 
    div(class='messages')
      h4(class='title') Posted by #{message.username}
      h4 #{message.title}
      p #{message.text}
      p #{message.timestamp}

  else 
    p There are no messages at the moment.