extends layout 

block content 
    h1 #{title} #{user.firstName}

    div(class='container')
        div(class='sidebar')
            if (!user.member)
                a(href='/membership' class='options') Become a member
                a(href='/' class='options') Logout
            else 
                p You are a member 
                a(href='/' class='options') Logout

        div(class='content')
            each message in messages_list 
                if user.member 
                    div(class='messages')
                        h4(class='title') Posted by #{message.username}
                        h4 #{message.title}
                        p #{message.text}
                        p #{message.timestamp}
                else 
                    div(class='messages')
                        h4(class='title') Posted by Anonymous
                        h4 #{message.title}
                        p #{message.text}
                        p #{message.timestamp}

            else 
                p There are no messages at the moment.
