extends layout 

block content 
    h1= title 

    form(method='POST' action='' class='forms')
        label(for='user')
        input(type='hidden'
            name='user'
            value=user._id)
        
        label(for='title') Title: 
        input(type='text'
            name='title'
            placeholder='Please enter a title'
            minLength='1'
            maxLength='100'
            value=(undefined===message ? '' : message.title)
            required='true')

        label(for='text') Message: 
        textarea(name='text'
            minLength='1'
            maxLength='1000'
            rows='10'
            value=(undefined===message ? '' : message.text)
            required='true')

        button(type='submit' class='options') Submit 
        a(href='/messages' class='options') Cancel

    if errors 
        ul 
            for error in errors 
                li!= error.msg

        