extends layout 

block content 
    h1 #{title} #{user.firstName}

    div(class='container')
        div(class='sidebar')
            if (!user.member)
                a(href='/membership' class='options') Become a member
                a(href='/logout' class='options') Logout
            else if (!user.admin)
                p You are a member 
                a(href='/admin' class='options') Become an admin
                a(href='/logout' class='options') Logout
            else 
                p You are a member 
                p You are an admin 
                a(href='/logout' class='options') Logout

        div(class='content')
            if user.member || user.admin
                a(href='/messages/create' class='options') Create a new message
            each message in messages_list 
                if user.admin 
                    div(class='messages')
                        h4(class='title') Posted by #{message.user.username}
                        h4 #{message.title}
                        p #{message.text}
                        p #{message.timestamp}
                        a(href='/messages/delete/'+message._id class='options') Delete message
                else if user.member 
                    div(class='messages')
                        h4(class='title') Posted by #{message.user.username}
                        h4 #{message.title}
                        p #{message.text}
                        p #{message.timestamp}
                else 
                    div(class='messages')
                        h4(class='title') Posted by Anonymous
                        h4 #{message.title}
                        p #{message.text}
                        p #{message.timestamp}

            else 
                p There are no messages at the moment.
